html, body {
    height: 100%;
}

.slider {
    width: 100px;
}

.pos-input {
    width: 55px;
}

.modal-content {
    background-color: #FEF8EC;
}

body, html {
    background-color: #FEF8EC;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    margin-bottom: 5px;
    color: #70A9A1;
    font-weight: 600;
    padding-bottom: 5px;
}

#title {
    text-align: center;
    background-color: #FEF8EC;
    text-decoration: none;
    font-size: 35px;
    margin-bottom: 0;
}

#collapsingNavbarMd a {
    font-size: 20px;
}

nav {
    background-color: #FEF8EC;
}

.jumbotron {
    font-weight: bold;
    padding-top: 24px;
    padding-bottom: 24px;
}

.btn-primary {
    background-color: #47859A;
}

#title a:link {
    color: #1F363D;
}

#title a:visited {
    color: #294851;
}

#title a:hover {
    color: #47859A;
    text-decoration: none;
    font-weight: bold;
}


@media (min-width: 992px) {
    .navbar .navbar-collapse {
        text-align: center;
    }


}

nav {
    font-size: 18px;
}

@media (max-width: 991px) {
    .jumbotron {
        display: none;
    }

    .navbar-brand{
        font-size: 25px;
    }
}

footer {
    position: absolute;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background: #FEF8EC;
    padding-top: 10px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.social-icons {
    max-height: 40px;
    width: auto;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

main{
    padding-top: 20px;
    padding-bottom: 20px;
}

.row{
    margin-bottom: 10px;
}

.img-row{
    margin-top: 50px;
    margin-bottom: 50px;
}

.diamond, .diamond div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

/*adopted and modified from https://stackoverflow.com/questions/29654453/bootstrap-different-shaped-images */
.diamond {
    transform: rotate(45deg);
}

    .diamond .los1 {
        width: 200px;
        height: 200px;
    }

        .diamond .los1 img {
            width: 100%;
            height: auto;
            -moz-transition: all 0.6s scale(1.6);
            -webkit-transition: all 0.6s scale(1.6);
            transition: all 0.6s;
            transform: scale(1.6) rotate(-45deg);
        }

    .diamond:hover img {
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        transform: scale(2) rotate(-45deg);
    }