html, body {
    height: 100%;
}

.slider {
    width: 100px;
}

.pos-input {
    width: 55px;
}

.modal-content {
    background-color: #141414;
}

body, html {
    background-color: #141414;
    font-family: 'Montserrat', sans-serif;
    color: #c4c4c4;
}

h1, h2, h3, h4 {
    margin-bottom: 5px;
    color: #2A8CB7;
    font-weight: 600;
    padding-bottom: 5px;
}

#title {
    text-align: center;
    background-color: #141414;
    text-decoration: none;
    font-size: 35px;
    margin-bottom: 0;
}

b {
    color: white;
}

strong {
    color: white;
}

#collapsingNavbarMd a {
    font-size: 20px;
}

nav {
    background-color: #141414;
}

.jumbotron {
    font-weight: bold;
    padding-top: 24px;
    padding-bottom: 24px;
}

.btn-primary {
    background-color: #47859A;
}

#title a:link {
    color: #69BADD;
}

#title a:visited {
    color: #69BADD;
}

#title a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


@media (min-width: 992px) {
    .navbar .navbar-collapse {
        text-align: center;
    }


}

nav {
    font-size: 18px;
}

@media (max-width: 991px) {
    .jumbotron {
        display: none;
    }

    .navbar-brand{
        font-size: 25px;
    }
}

.paper-summary{
    width: 100%;
}

.paper-left-col{
    width: 75%;
}

.paper-right-col{
    width:25%;
}

.paper-right{
    text-align: right;
    vertical-align: top;
}

.paper-bottom{
    padding-bottom: 15px;
}

footer {
    position: absolute;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background: #141414;
    padding-top: 10px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.social-icons {
    max-height: 40px;
    width: auto;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

main{
    padding-top: 20px;
    padding-bottom: 20px;
}

.row{
    margin-bottom: 10px;
}

.img-row{
    margin-top: 50px;
    margin-bottom: 50px;
}

.diamond, .diamond div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

/*adopted and modified from https://stackoverflow.com/questions/29654453/bootstrap-different-shaped-images */
.diamond {
    transform: rotate(45deg);
}

    .diamond .los1 {
        width: 200px;
        height: 200px;
    }

        .diamond .los1 img {
            width: 100%;
            height: auto;
            -moz-transition: all 0.6s scale(1.6);
            -webkit-transition: all 0.6s scale(1.6);
            transition: all 0.6s;
            transform: scale(1.6) rotate(-45deg);
        }

    .diamond:hover img {
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        transform: scale(2) rotate(-45deg);
    }

    .diamond .los2 {
        width: 160px;
        height: 160px;
    }
    .diamond .los2 img {
        width: 100%;
        height: auto;
        -moz-transition: all 0.6s scale(1.6);
        -webkit-transition: all 0.6s scale(1.6);
        transition: all 0.6s;
        transform: scale(1.6) rotate(-45deg);
    }

#nameplate {
    color: white;
    max-width: 600px;
    text-align: center;
    border: 3px;
    border: 3px white;
    border-style: solid none;
    margin: auto;
}

#main-carousel{
    max-width: 600px;
}

#center-div {
    top: 35%;
    position: absolute;
    width: 100%;
}

#nameplate #line1 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 28px;
}

#nameplate #line2{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
}


#parent-photo.diamond {
}

#my-photo {
}

h2#about {
    padding-bottom: 30px;
}

.schools-list {
    list-style-type: none;
}
.inside-carousel {
    color: white;
    max-width: 380px;
    width: 100%;
    margin: auto;
    height: 150px;
}

.data-row{
    padding-bottom: 30px;
}

.data-p{
    padding-bottom: 10px;
}