body {
    background-image: url("https://github.com/aust427/aust427.github.io/blob/master/images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
footer {
    bottom: 0;
}


