body {
    background-image: url("https://raw.githubusercontent.com/aust427/aust427.github.io/master/images/back2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
footer {
    bottom: 0;
}


