body {
    background-image: url('./images/SAM-THREE-js.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

footer {
    bottom: 0;
}

#splash-text {
    color: orange;
    text-align: center;
    padding: 15% 0 0 0;
}

